<!-- CMS_PLACEHOLDER : "PlaceholderContactPageHeader" -->
<!-- CMS_PLACEHOLDER : "PlaceholderContactHeader" -->
<!-- CMS_PLACEHOLDER : "PlaceholderPhoneNr" -->
<!-- CMS_PLACEHOLDER : "PlaceholderEmail" -->
<!-- CMS_PLACEHOLDER : "PlaceholderStoreAddress" -->

<h1>{{ spyCms('PlaceholderContactPageHeader') }} </h1>
<div>
    <strong>{{ spyCms('PlaceholderContactHeader') }} </strong> <br>
    <strong>{{ spyCms('PlaceholderPhoneNr') }} </strong> +1 (000) 000-0000 <br>
    <strong>{{ spyCms('PlaceholderEmail') }}  </strong> info@companyname.com <br>
    <strong>{{ spyCms('PlaceholderStoreAddress') }}
    </strong><br>

    123 Demo Street<br>
    Demo City<br>
    1234<br>
</div>
